.container {
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.placeholder {
  width: 300px;
  height: 300px;
  background: #ccc;
  margin-left: 10px;
}

.item {
  background: white;
  width: auto;
  height: auto;
  flex-shrink: 0;
}