.wrapper {
  position: relative;
  overflow: hidden;
}

.clickable {
  cursor: none;
}

.container {
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.placeholder {
  width: 300px;
  height: 300px;
  background: #ccc;
  margin-left: 10px;
}

.item {
  background: transparent;
  width: auto;
  height: auto;
  flex-shrink: 0;
}

.cursor {
  position: absolute;
  color: white;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
  mix-blend-mode: difference;
}

.cursor-show {
  opacity: 1;
}